<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Pagina inicial</a>
                <a href="/Produtos">Produtos</a>
                <a href="/Home/Sobre">Sobre</a>
            </li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>